table.table.table-bordered.table-condensed
  thead
    tr
      th Date
      th Time
      th Venue
      th Race
      th Type
      th Places
  tbody
    each meeting in meetings
      tr
        td
          span.label= meeting.date
        td
          span.label= meeting.time
        td
          span.label= meeting.venue
        td
          span.badge= meeting.race
        td
          span.badge= meeting.meetingType
        td
          span.badge.badge-success= meeting.places
