<%- partial('header-admin.ejs', {}) %>

<div id="main">
    <ul class="adminMenu">
<%- partial('admin-menu.ejs', {current: "My posts"}) %>
    </ul>
    <div>
        <div id="lift__noticesContainer__"></div>
        <h3>Welcome  <%= everyauth.user.username %>, <span>you have written <%= everyauth.user.posts.length %> posts so far</span></h3>
        <% for (var i=0; i<everyauth.user.posts.length; i++) {
        var post = everyauth.user.posts[i];
        if (i % 2 == 1) {
        %>
        <p class="post odd">
            <%}
            else {

            %>
        <p class="post even">
            <%
            }
            %>
            <a href="/admin/posts/edit/<%= post['_id'] %>"><%= post.title %></a> </p>

        <%
        }
        %>
        <p id="newPost">
            <a href="/admin/posts/add"><span>+</span> write a new post</a>
        </p>


    </div>
</div>

<%- partial('footer.ejs', {}) %>
  