<%- partial('header-admin.ejs', {}) %>
        
        <div id="main">
<%- partial('admin-menu.ejs', {current: 'Posts'}) %>
            <div>
	<div id="crud">
		<div id="crudContent">
			<div class="Posts" id="crudList">
	
				<h2 id="crudListTitle">Posts</h2>
	
				<div style="background-color:#314660; border:0px;" id="crudListSearch">
					<form action="/admin/all_posts/" method="post">
						<input name="F154557648369SYPVSQ" type="text" value=""> 
						<input value="Search" type="submit">
					</form>
				</div>
	
				<div id="crudListTable">
					<table>
						<thead>
							<tr>
<th><a class="crudSortedAsc" href="#"><span>Posts</span></a></th>
							</tr>
						</thead>
                        <% for (var i=0; i<posts.length; i++) {
                            var post = posts[i];
                            %>
    					<tbody>
                        <% if (i%2==1) { %>
                            <tr class="odd">
                            <% } else { %>
                            <tr class="even">
                            <% } %>
							<td><a href="/admin/posts/edit/<%= post._id %>"><%= post.title %></a></td>
						</tr>
                        <% } %>
					</tbody></table>
				</div>
				
				<div style="background-color:#314660; border:0px;" id="crudListPagination">
					<p class="crudCount"><%= posts.length %> Posts</p>
				</div>
	
				<p id="crudListAdd">
					<a href="/admin/all_posts/add">Add Post</a>
				</p>
			</div>
		</div>
	</div>
</div>         
        </div>
        
<%- partial('footer.ejs', {}) %>