<%- partial('header.ejs', {}) %>

<div id="content">
    <div class="post">

        <%
        if (posts.length > 0) {
        var post = posts[0]
        %>
        <h2 class="post-title">
            <a class="post-title-link" href="/read/<%= post._id %>"><%= post.title %></a>
        </h2>

        <div class="post-metadata">
            <span class="post-author">by <%= post.author %></span>,
            <span class="post-date">
        		<%= post.date %>
            </span>
            <span class="post-comments"> | <%= post.comments.length %> comments </span>
        </div>
        <div class="post-content">
            <div class="about">Detail:</div>
			<span id="post-content-span"> <p><%= post.text %></p>
		<%}%>
        
 </span>
        </div>
    </div>


    <div class="older-posts">
        <h3>
            Older posts <span class="from">from this blog</span>
        </h3>
<%- partial('multiplePosts.ejs', {start: 1}) %>


    </div>
</div>
<%- partial('footer.ejs', {}) %>