<%- partial('header.ejs', {}) %>
<div id="content">
    <div class="post">

        <%
        if (posts.length > 0) {
        var post = posts[0]
        %>
        <h2 class="post-title">
            <a class="post-title-link" href="/read/<%= post._id %>"><%= post.title %></a>
        </h2>

        <div class="post-metadata">
            <span class="post-author">by <%= post.author %></span>,
            <span class="post-date">
        		<%= post.date %>
            </span>
            <span class="post-comments"> | 0 comments </span>
        </div>
        <div class="post-content">
            <div class="about">Detail:</div>
			<span id="post-content-span"> <p><%= post.text %></p>
		<%}%>

        

 </span>
        </div>
    </div>


    <div class="older-posts">
        <h3>
            Older posts <span class="from">from this blog</span>
        </h3>
    <%
    for (var i=1; i
    <posts.length
    ; i++) {
    var post = posts[i];
    %>
    
        <div class="post teaser">
            <h2 class="post-title">
                <a href="/read/<%= post._id %>" class="post-title-link"><%= post.title %> </a>
            </h2>

            <div class="post-metadata">
                <span class="post-author">by <%= post.author %></span>,
                <span class="post-date">
                    <%= post.date %>
                </span>
                <span class="post-comments"> | <%= post.author %> comments </span>
            </div>
        </div>    
    <%
    }
    %>


    </div>
</div>
<%- partial('footer.ejs', {}) %>