<%- partial('header-admin.ejs', {}) %>
        
        <div id="main">
            <ul class="adminMenu"><li> <span>My posts</span></li></ul>
            <div>
	<form method="post" action="/admin/posts/add"><from>
		<p>
		</p><div id="lift__noticesContainer__"></div>
		<p>
        </p><div id="post-add">
            <p>
            <label>Post title:</label>
            <input class="mb:title" maxlength="140" type="text" name="title" <% if (locals.post) { %> value="<%= post.title %>"<% } %> >
            </p>

            <p>
            <label>Write here:</label>
            <textarea id="content" class="mb:content" cols="20" rows="8" name="text"><% if (locals.post) { %><%= post.text %><% } %></textarea>
            </p>
        </div>

    	<p> 
        <label>Enter some tags:</label>
        <input name="tags" size="50" type="text" <% if (locals.post) { %> value="<%= post.tags %>"<% } %>> 
        </p> 
    
    	<p> 
        <input name="F154557745994JSYTM3" value="Publish this post to the blog" type="submit"> 
<% if (locals.post) { %><input type="hidden" name="postId" value="<%= post._id %>"> <% } %>
    	</p>
	</from></form>
 </div>         
        </div>
        
<%- partial('footer.ejs', {}) %>