<%- partial('header-admin.ejs', {}) %>

<div id="main">
    <ul class="adminMenu">
        <li><a href="/admin/posts/">My posts</a></li>
        <li><a href="/admin/all_posts/">Posts</a></li>
        <li><span>Tags</span></li>
        <li><a href="/admin/comments/">Comments</a></li>
        <li><a href="/admin/users/">Users</a></li>
    </ul>
    <div>
        <div id="crud">
            <div id="crudContent">
                <div class="Tags" id="crudList">

                    <h2 id="crudListTitle">Tags</h2>

                    <div style="background-color:#314660; border:0px;" id="crudListSearch">
                        <form action="/admin/tags/" method="post">
                            <input name="searchString" type="text" value="">
                            <input value="Search" type="submit">
                        </form>
                    </div>

                    <div id="crudListTable">

                        <table>
                            <thead>
                            <tr>
                                <th>
                                    <a class="crudSortedAsc"
                                       href="/admin/tags/index?order=DESC&F1545576486343KFOIS=_"><span>Tags</span></a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for (var i=0; i
                            <tags.length
                            ; i++) {
                            var tag = tags[i];
                            if (i % 2 == 1) {
                            %>
                            <tr class="odd">
                                <%}
                                else {

                                %>
                            <tr class="even">
                                <%
                                }
                                %>
                                <td>
                                    <a href="/admin/tags/edit/<%= tag._id %>"><%= tag.tagName %></a>
                                </td>

                                <%
                                }
                                %>


                            </tbody>
                        </table>
                    </div>

                    <div style="background-color:#314660; border:0px;" id="crudListPagination">

                        <p class="crudCount">
                            <%= tags.length %> Tags
                        </p>

                    </div>

                    <p id="crudListAdd">
                        <a href="/admin/tags/add">Add Tag</a>
                    </p>

                </div>
            </div>

        </div>
    </div>
</div>

<%- partial('footer.ejs', {}) %>
  