<!DOCTYPE html>
html(lang="en")
	head
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
		title Credit Card Roulette
		style
			body {
				padding-top: 60px; 
			}
	body
	center
		div#welcome
			p
				form(action='/spin', method='POST')
					input(type='hidden', name='_method', value='PUT')
					<a href="#" onclick="document.forms[0].submit();return false;"class="btn btn-primary btn-large"> Spin The Wheel &raquo;</a>	
			div.alert.alert-success			
				strong=lastWinner 
				|&nbsp;wins!
			table.table.table-bordered.table-condensed
				thead
					tr
						th Roll
						th Date
						th Result
						th Winner
				tbody
					#rolls!= partial('roll', {collection: rolls})
			table.table.table-condensed
				thead
					tr
						th Player 1's stats
						th Player 2's stats
				tbody
					tr
						td= totalRolls							
							|&nbsp;rolls
						td= totalRolls
							|&nbsp;rolls
					tr
						td=p1Wins
							|&nbsp;wins
						td=p2Wins
							|&nbsp;wins
					tr
						td=p1Percent
							|%
						td=p2Percent
							|%


